---
import { getLangFromUrl, useTranslations } from '../../utils/utils';
import ContactForm from '../ContactForm';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main class='h-full w-full'>
	<ContactForm lang={lang} client:only />
</main>
