---
import { LuAlignJustify } from 'react-icons/lu';
---

<button
	id='burguer'
	class='text-dark-white fixed right-1 top-1 z-50 flex h-10 w-10 items-center justify-center transition-all duration-500 ease-in-out lg:hidden'
>
	<LuAlignJustify />
</button>
<script>
	import { isOpen } from '../nanostores/store';

	const toggleSide = () => {
		isOpen.set(!isOpen.value);
	};

	document.getElementById('burguer')?.addEventListener('click', toggleSide);
</script>
