---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import DownloadCv from './DownloadCv';
import SocialMedia from './SocialMedia';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<>
	<div
		class='flex h-full w-10/12 flex-col items-center justify-around border-l border-l-white bg-side-gray'
	>
		<div class='flex size-max max-h-52 max-w-52 items-center justify-center'>
			<img
				src='/yo-pic.png'
				class='size-48 rounded-full border border-white'
				alt='Seba Image'
			/>
		</div>
		<div class='flex h-44 flex-col flex-wrap items-center justify-around'>
			<div class=''>
				<h1 class='text-center text-3xl font-bold text-white'>
					Sebastian Aguiar
				</h1>
				<h2 class='text-center text-lg font-semibold text-gray'>
					{t('middle.work')}
				</h2>
			</div>
			<div class='w-10/12 md:w-full'>
				<SocialMedia />
			</div>
		</div>
		<div class='flex w-full items-center justify-center'>
			<DownloadCv text={t('middle.download')} />
		</div>
		<div class='h-2 w-full'></div>
	</div>
</>
