---
import { ViewTransitions } from 'astro:transitions';
import BurguerMenu from '../components/BurguerMenu.tsx';
import SideBar from '../components/containers/SideBar.astro';
import { getLangFromUrl } from '../i18n/utils';

interface Props {
	title: string;
}

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body class='flex h-screen w-screen flex-row overflow-hidden bg-black'>
		<BurguerMenu client:only='react' />
		<SideBar />
		<slot />
		<style is:global>
			@tailwind base;
			@tailwind components;
			@tailwind utilities;
		</style>
	</body>
</html>
