---
import { ViewTransitions } from 'astro:transitions';
import BurgerMenu from '../components/BurgerMenu';
import SideBar from '../components/containers/SideBar.astro';
import { getLangFromUrl } from '../i18n/utils';

interface Props {
	title: string;
}

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body
		class='flex h-screen w-screen flex-row overflow-hidden bg-black text-white'
	>
		<div id='burger' class='fixed right-3 top-3 size-max lg:hidden'>
			<BurgerMenu client:only='react' />
		</div>
		<SideBar />
		<!-- <div class='h-screen w-screen lg:w-2/3'> -->
		<slot />
		<!-- </div> -->
		<style is:global>
			@tailwind base;
			@tailwind components;
			@tailwind utilities;
		</style>
		<script>
			import { isOpen } from '../nanostores/store';
			isOpen.subscribe((open) => {
				const burger = document.getElementById('burger');
				if (open) {
					burger?.classList.add('hidden'); // Mueve hacia la izquierda
				} else {
					burger?.classList.remove('hidden'); // Vuelve a la posición original
				}
			});
		</script>
	</body>
</html>
